<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script>

    $(document).ready(function(){
      $("#demo").click(function(){
        //var counter = 0;
        $("table").append("<thead><tr><th>ID</th><th>Player_name</th><th>Country</th><th>Position</th></tr></thead>");

       var j = 0;
       // var k = 0;

        var refresh = setInterval(function(){
        $.getJSON('/data', function (data) {

                    //$("table").append("<tbody><tr><td>" + d.Player_id + "</td><td>" + d.Player_name + "</td><td>" + d.Country + "</td><td>" + d.Position + "</td></tr></tbody>");
                    $("table").fadeOut("slow", function(){
                      var dt = data;

                      $("table").empty();
                      for (i = 0; i < 20; i++) {
                        var d = dt[j+i];
                        var div = $("table").append("<tbody><tr><td>" + d.Player_id + "</td><td>" + d.Player_name + "</td><td>" + d.Country + "</td><td>" + d.Position + "</td></tr></tbody>").hide();


                        $(this).replaceWith(div);
                        $("table").fadeIn("slow");

                      }
                    j = j+20;
                    });


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               counter = counter + 1;
          //j = j + 20;
          if (counter>6){
            clearInterval(refresh);
         }},'json');}
      ,500);
      });
    });
  </script>

</head>
<body>
<div class="container">
  <button type="button" id = "demo" class="btn btn-lg btn-primary btn-block">Click</button>

  <table class = "table">

  </table>
</div>

</body>
</html>



